In [121]:
import pandas as pd
import numpy as np
import array
import math

In [135]:
#these files are created in the R script. 

lists1t1pl = pd.read_csv("c:/MachineLearningWork/news1t1pL.csv")
lists1t1pc = pd.read_csv("c:/MachineLearningWork/news1t1pC.csv")
lists2t1pl = pd.read_csv("c:/MachineLearningWork/news2t1pL.csv")
lists2t1pc = pd.read_csv("c:/MachineLearningWork/news2t1pc.csv")
lists3t1pl = pd.read_csv("c:/MachineLearningWork/news3t1pL.csv")
lists3t1pc = pd.read_csv("c:/MachineLearningWork/news3t1pC.csv")
listt2pl = pd.read_csv("c:/MachineLearningWork/newt2pL.csv")
listt2pc = pd.read_csv("c:/MachineLearningWork/newt2pC.csv")
listt3pl = pd.read_csv("c:/MachineLearningWork/newt3pL.csv")
listt3pc = pd.read_csv("c:/MachineLearningWork/newt3pC.csv")
listt4pl = pd.read_csv("c:/MachineLearningWork/newt4pL.csv")
listt4pc = pd.read_csv("c:/MachineLearningWork/newt4pC.csv")
listt5pl = pd.read_csv("c:/MachineLearningWork/newt5pL.csv")
listt5pc = pd.read_csv("c:/MachineLearningWork/newt5pC.csv")
#lists8t1pl = pd.read_csv("c:/MachineLearningWork/s8t1pL.csv")
#lists8t1pc = pd.read_csv("c:/MachineLearningWork/s8t1pC.csv")
list = pd.read_csv("c:/MachineLearningWork/tva_output.csv")

In [127]:
listt4pl

      Unnamed: 0  Point.Forecast     Lo.80     Hi.80     Lo.95     Hi.95
0           4393        0.416290 -0.355919  1.188499 -0.764702  1.597281
1           4394        0.433046 -0.339506  1.205597 -0.748470  1.614562
2           4395        0.436783 -0.336111  1.209676 -0.745256  1.618821
3           4396        0.440307 -0.332890  1.213504 -0.742195  1.622810
4           4397        0.443632 -0.329835  1.217099 -0.739284  1.626548
...          ...             ...       ...       ...       ...       ...
2295        6688        0.498911 -0.276733  1.274555 -0.687334  1.685156
2296        6689        0.498911 -0.276733  1.274555 -0.687334  1.685156
2297        6690        0.498911 -0.276733  1.274555 -0.687334  1.685156
2298        6691        0.498911 -0.276733  1.274555 -0.687334  1.685156
2299        6692        0.498911 -0.276733  1.274555 -0.687334  1.685156

[2300 rows x 6 columns]

In [128]:
listt5pl

    Unnamed: 0  Point.Forecast     Lo.80     Hi.80     Lo.95     Hi.95
0           82        1.046499  0.691640  1.401357  0.503789  1.589208
1           83        1.046499  0.691014  1.401983  0.502832  1.590165
2           84        1.046499  0.690390  1.402607  0.501878  1.591120
3           85        1.046499  0.689767  1.403230  0.500924  1.592073
4           86        1.046499  0.689145  1.403853  0.499973  1.593024
5           87        1.046499  0.688523  1.404474  0.499023  1.593974
6           88        1.046499  0.687903  1.405094  0.498075  1.594923
7           89        1.046499  0.687284  1.405713  0.497128  1.595869
8           90        1.046499  0.686667  1.406331  0.496183  1.596814
9           91        1.046499  0.686050  1.406947  0.495240  1.597758
10          92        1.046499  0.685434  1.407563  0.494298  1.598699
11          93        1.046499  0.684819  1.408178  0.493358  1.599639
12          94        1.046499  0.684206  1.408792  0.492419  1.600578
13          95        1.046499  0.683593  1.409404  0.491482  1.601515
14          96        1.046499  0.682981  1.410016  0.490547  1.602450
15          97        1.046499  0.682371  1.410627  0.489613  1.603384
16          98        1.046499  0.681761  1.411236  0.488681  1.604316
17          99        1.046499  0.681153  1.411845  0.487750  1.605247
18         100        1.046499  0.680545  1.412452  0.486821  1.606176
19         101        1.046499  0.679938  1.413059  0.485893  1.607104
20         102        1.046499  0.679333  1.413664  0.484967  1.608030
21         103        1.046499  0.678728  1.414269  0.484043  1.608955
22         104        1.046499  0.678125  1.414872  0.483120  1.609878
23         105        1.046499  0.677522  1.415475  0.482198  1.610799
24         106        1.046499  0.676921  1.416076  0.481278  1.611719
25         107        1.046499  0.676320  1.416677  0.480359  1.612638
26         108        1.046499  0.675720  1.417277  0.479442  1.613555
27         109        1.046499  0.675122  1.417875  0.478527  1.614470
28         110        1.046499  0.674524  1.418473  0.477613  1.615384
29         111        1.046499  0.673927  1.419070  0.476700  1.616297
30         112        1.046499  0.673332  1.419666  0.475789  1.617208
31         113        1.046499  0.672737  1.420260  0.474879  1.618118
32         114        1.046499  0.672143  1.420854  0.473971  1.619026
33         115        1.046499  0.671550  1.421447  0.473064  1.619933
34         116        1.046499  0.670958  1.422039  0.472159  1.620838
35         117        1.046499  0.670367  1.422630  0.471255  1.621742
36         118        1.046499  0.669777  1.423220  0.470352  1.622645
37         119        1.046499  0.669187  1.423810  0.469451  1.623546
38         120        1.046499  0.668599  1.424398  0.468551  1.624446
39         121        1.046499  0.668012  1.424985  0.467653  1.625344

In [136]:
s1t1_predict_l = lists1t1pl.iloc[:, 1]
s1t1_predict_c = lists1t1pc.iloc[:, 1]
s2t1_predict_l = lists2t1pl.iloc[:, 1]
s2t1_predict_c = lists2t1pc.iloc[:, 1]
s3t1_predict_l = lists3t1pl.iloc[:, 1]
s3t1_predict_c = lists3t1pc.iloc[:, 1]
t2_predict_l = listt2pl.iloc[:, 1]
t2_predict_c = listt2pc.iloc[:, 1]
t3_predict_l = listt3pl.iloc[:, 1]
t3_predict_c = listt3pc.iloc[:, 1]
t4_predict_l = listt4pl.iloc[:, 1]
t4_predict_c = listt4pc.iloc[:, 1]
t5_predict_l = listt5pl.iloc[:, 1]
t5_predict_c = listt5pc.iloc[:, 1]
#s8t1_predict_l = lists8t1pl.iloc[:, 1]
#s8t1_predict_c = lists8t1pc.iloc[:, 1]

In [137]:
t4_predict_c

0     170.026811
1     169.866840
2     169.839216
3     169.857248
4     169.875127
5     169.882657
6     169.883518
7     169.882386
8     169.881458
9     169.881112
10    169.881097
11    169.881164
12    169.881211
13    169.881227
14    169.881226
15    169.881222
16    169.881220
17    169.881219
18    169.881219
19    169.881220
20    169.881220
21    169.881220
22    169.881220
23    169.881220
24    169.881220
25    169.881220
26    169.881220
27    169.881220
28    169.881220
29    169.881220
30    169.881220
31    169.881220
32    169.881220
33    169.881220
34    169.881220
35    169.881220
36    169.881220
37    169.881220
38    169.881220
39    169.881220
Name: Point.Forecast, dtype: float64

In [116]:
t4_predict_l

0       0.416290
1       0.433046
2       0.436783
3       0.440307
4       0.443632
          ...
2295    0.498911
2296    0.498911
2297    0.498911
2298    0.498911
2299    0.498911
Name: Point.Forecast, Length: 2300, dtype: float64

In [80]:
size = len(list)

In [81]:
list

,Index,Timestamp,Server,Tactic,Latency,Cost,Reliability,TotalCost,Predicted Latency,Predicted Total Cost,Hours
0,1,32:53.4,1,1,1.716679,15.9,1,27.295194,NaN,NaN,0
1,2,33:01.9,1,2,8.534772,12.3,1,104.977698,NaN,NaN,0
2,3,33:02.1,1,3,0.176431,28.8,1,5.081218,NaN,NaN,0
3,4,33:08.5,1,4,6.426049,26.7,1,171.575495,NaN,NaN,0
4,5,33:17.9,1,5,9.365804,2.1,1,19.668189,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
92255,92256,52:24.8,1,4,6.485255,25.7,1,166.671054,NaN,NaN,117
92256,92257,52:25.1,1,5,0.293175,25.4,1,7.446657,NaN,NaN,117
92257,92258,52:31.9,2,1,1.891588,5.4,1,10.214578,NaN,NaN,117
92258,92259,52:35.4,2,2,3.508379,25.4,1,89.112838,NaN,NaN,117
92259,92260,52:35.6,2,3,0.174014,26.4,1,4.593966,NaN,NaN,117

In [138]:
masterArray = np.zeros((size,10))

In [94]:
list.iloc[:, 2]

0        1
1        1
2        1
3        1
4        1
        ..
92255    1
92256    1
92257    2
92258    2
92259    2
Name: Server, Length: 92260, dtype: int64

In [139]:
index = list.iloc[:, 0]
hours = list.iloc[:, 10]
latency = list.iloc[:, 4]
cost = list.iloc[:,5]
rel = list.iloc[:,6]
preL = list.iloc[:,8]
preC = list.iloc[:,9]
server1 = list.iloc[:,2]
#server2 = list.iloc[:,15]
#server3 = list.iloc[:,16]
#server4 = list.iloc[:,17]
#server5 = list.iloc[:,18]
#server6 = list.iloc[:,19]
#server7 = list.iloc[:,20]
#server8 = list.iloc[:,21]
tactic1 = list.iloc[:,3]
#tactic2 = list.iloc[:,23]
#tactic3 = list.iloc[:,24]
#tactic4 = list.iloc[:,25]
#tactic5 = list.iloc[:,26]

In [140]:
masterArray[:,0] = index
masterArray[:,1] = server1
masterArray[:,2] = tactic1
masterArray[:,3] = latency
masterArray[:,4] = cost
masterArray[:,6] = preL
masterArray[:,7] = preC
masterArray[:,9] = hours

In [85]:
hours

0          0
1          0
2          0
3          0
4          0
        ...
92255    117
92256    117
92257    117
92258    117
92259    117
Name: Hours, Length: 92260, dtype: int64

In [104]:
training = math.floor(.7*hours[size-1])

In [102]:
maxi = hours[size-1]
maxi

117

In [101]:
start = math.floor(.7 * size)
start

64581

In [141]:
ii = 1
jj = 0 

for ii in range(start,size-1):

    if (hours[ii] - 266) == maxi:
        break
    if server1[ii] == 1 and tactic1[ii] == 1:
        time = hours[ii] - training
        masterArray[ii,6] = s1t1_predict_l[time]
        masterArray[ii,7] = s1t1_predict_c[time]
    if server1[ii] == 2 and tactic1[ii] == 1:
        time = hours[ii] - training
        masterArray[ii,6] = s1t1_predict_l[time]
        masterArray[ii,7] = s1t1_predict_c[time]
    if server1[ii] == 3 and tactic1[ii] == 1:
        time = hours[ii] - training
        masterArray[ii,6] = s1t1_predict_l[time]
        masterArray[ii,7] = s1t1_predict_c[time]
    if tactic1[ii] == 2:
        time = hours[ii] - training
        masterArray[ii,6] = t2_predict_l[time]
        masterArray[ii,7] = t2_predict_c[time]
    if tactic1[ii] == 3:
        time = hours[ii] - training
        masterArray[ii,6] = t3_predict_l[time]
        masterArray[ii,7] = t3_predict_c[time]
    if tactic1[ii] == 4:
        time = hours[ii] - training
        masterArray[ii,6] = t4_predict_l[time]
        masterArray[ii,7] = t4_predict_c[time]
    if tactic1[ii] == 5:
        time = hours[ii] - training
        masterArray[ii,6] = t5_predict_l[time]
        masterArray[ii,7] = t5_predict_c[time]
#if server4[ii] == 1 and tactic1[ii] == 1:
#    time = hours[ii] - 266
#    masterArray[ii,6] = s1t1_predict_l[time]
#    masterArray[ii,7] = s1t1_predict_c[time]
#if server5[ii] == 1 and tactic1[ii] == 1:
#    time = hours[ii] - 266
#    masterArray[ii,6] = s1t1_predict_l[time]
#    masterArray[ii,7] = s1t1_predict_c[time]
#    if server6[ii] == 1 and tactic1[ii] == 1:
#    time = hours[ii] - 266
#    masterArray[ii,6] = s1t1_predict_l[time]
#    masterArray[ii,7] = s1t1_predict_c[time]
#    if server7[ii] == 1 and tactic1[ii] == 1:
#    time = hours[ii] - 266
#    masterArray[ii,6] = s1t1_predict_l[time]
#    masterArray[ii,7] = s1t1_predict_c[time]
#    if server8[ii] == 1 and tactic1[ii] == 1:
#    time = hours[ii] - 266
#    masterArray[ii,6] = s1t1_predict_l[time]
#    masterArray[ii,7] = s1t1_predict_c[time]
#    if tactic2[ii] == 1:
#    masterArray[ii,6] = tactic2Latency
#    masterArray[ii,7] = tactic2Cost
#    if tactic3[ii] == 1:
#    masterArray[ii,6] = tactic3Latency
#    masterArray[ii,7] = tactic3Cost
#    if tactic4[ii] == 1:
#    masterArray[ii,6] = tactic4Latency
#    masterArray[ii,7] = tactic4Cost
#    if tactic5[ii] == 1:
#    masterArray[ii,6] = tactic5Latency
#    masterArray[ii,7] = tactic5Cost

In [142]:
np.savetxt("arimaApache.csv", masterArray, delimiter=",")

In [141]:
#Do not use, old version

m = 0
p = 0
for j in range(45954, 57442):
    if p == 34:
        break
    
    if (predictTime[p] + 3604) < j:
        p = p + 1
        
    if predictTime[p] < j:
        #print(predictTime[p],j - 1)
        #print(masterArray[s1t1counter,0],j)
        if j == masterArray[s1t1counter,0]:
            #print((predictTime[p] - 3000),j)
            masterArray[s1t1counter,6] = s1t1_predict_l[p]
            masterArray[s1t1counter,7] = s1t1_predict_c[p]
            s1t1counter = s1t1counter + 1
        if j == masterArray[s2t1counter,0]:
            #print((predictTime[p] - 3000),j)
            masterArray[s2t1counter,6] = s2t1_predict_l[p]
            masterArray[s2t1counter,7] = s2t1_predict_c[p]
            s2t1counter = s2t1counter + 1
        if j == masterArray[s3t1counter,0]:
           
            masterArray[s3t1counter,6] = s3t1_predict_l[p]
            masterArray[s3t1counter,7] = s3t1_predict_c[p]
            s3t1counter = s3t1counter + 1
        if j == masterArray[s4t1counter,0]:
         
            masterArray[s4t1counter,6] = s4t1_predict_l[p]
            masterArray[s4t1counter,7] = s4t1_predict_c[p]
            s4t1counter = s4t1counter + 1
        if j == masterArray[s5t1counter,0]:
            masterArray[s5t1counter,6] = s5t1_predict_l[p]
            masterArray[s5t1counter,7] = s5t1_predict_c[p]
            s5t1counter = s5t1counter + 1
        if j == masterArray[s6t1counter,0]:
           
            masterArray[s6t1counter,6] = s6t1_predict_l[p]
            masterArray[s6t1counter,7] = s6t1_predict_c[p]
            s6t1counter = s6t1counter + 1
        if j == masterArray[s7t1counter,0]:
   
            masterArray[s7t1counter,6] = s7t1_predict_l[p]
            masterArray[s7t1counter,7] = s7t1_predict_c[p]
            s7t1counter = s7t1counter + 1
        if j == masterArray[s8t1counter,0]:
            
            masterArray[s8t1counter,6] = s8t1_predict_l[p]
            masterArray[s8t1counter,7] = s8t1_predict_c[p]
            s8t1counter = s8t1counter + 1

NameError: name 'predictTime' is not defined

In [136]:
np.savetxt("arimaFinalnorm.csv", masterArray, delimiter=",")